.links {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}

.links a {
	display: inline-block;
}

.demo {
	min-height: 500px;
	margin: 0 auto;
}

.dark-theme {
	background-color: #1d1f21;
}

@media screen 
  and (min-device-width: 1200px) { 
  	.links {
  		width: 700px;
  	}
  	.demo {
  		width: 700px;
  	}
}