.containner, .left, .right {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, PingFang SC, Source Han Sans CN, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
	display: flex;
}
.containner {
	flex-direction: row;
}
.left {
	flex-direction: column;
	flex: 1;
}
.right {
	margin-left: 30px;
	width: 203px;
	height: 203px;
	
	-webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}
.right img {
	width: 203px;
	height: 203px;
	border-radius: 203px;
}
.title {
	font-size: 25px;
	font-weight: 400;
	line-height: 1.28;
	display: flex;
	height: 45px;
	color: rgb(3, 3, 3);
	align-items: center;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.singer {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.2;
	display: flex;
	height: 18px;
	color: rgb(74, 74, 74);
	align-items: center;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bar {
	display: flex;
	height: 76px;
	align-items: center;
}
.wrapper {
	position: absolute;
}
.time {
	font-size: 11px;
	font-weight: 400;
	line-height: 13px;
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 13px;
	margin-top: -17px;
	margin-right: 10px;
	color: rgb(155, 155, 155);
}
.volume-slider {
	position: absolute;
	top: -15px;
	left: 50px;
	display: inline-block;
	overflow: hidden;
	width: 70px;
	height: 15px;
}
.volume-slider svg {
	position: absolute;
}
.volume-slider-bar {
	position: absolute;
	display: block;
	width: 50px;
	height: 2px;
	margin-top: 3.5px;
	margin-left: 17px;
	background-color: rgb(229, 229, 232);
	background: linear-gradient(90deg, rgb(151, 151, 151) 70%, rgb(229, 229, 232) 30%);
}
.progress-bar {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	-webkit-transition-property: width;
	transition-property: width;
	background: linear-gradient(90deg, rgb(107, 189, 122) 50%, #dadada 50%);
}
.btns {
	display: flex;
	height: 64px;
	align-items: center;
	justify-content: space-between;
}
.btns-left {

}
.btns-right {
}

#play:hover path, #loop:hover path, #download:hover path{
	fill: #000;
}


@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

